ipython
joblib
numpy
onnxruntime
opencv-python-headless
pandas
Pillow
plotly
pythreejs
PyYAML
reportlab
scikit_learn
streamlit
streamlit_option_menu
trimesh
openai
langchain_nvidia_ai_endpoints
langchain_community
faiss-cpu
python-dotenv
pypdf

